 /* font 설정 */
 @font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NPSfontExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NPSfontRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* global 설정 */
* { margin: 0; padding: 0; }
li{ list-style: none; }
a{ text-decoration: none; color: gray; }
a:hover { color: #FF7A00; }
.container-fluid{ padding-left: 0; padding-right: 0; padding: 0;line-height:20px; }

/* header 설정 */
.navbar{ margin: 0; }
.topmenu{ margin-top: 10px; padding: 0; }
.topmenu li{ display: inline-block; text-align: center; font-size: 14px; padding: 0 5px; }
.topmenu a:hover{ color: #000; font-weight: bold; }
#myinfo { max-width: 60%; }
#m_link li { margin: 20px 0; }

/* nav 설정 */
#logo { width: 20%; text-align: center; line-height: 100px; } 
.main_nav{ border-bottom: 3px solid #FF7A00; background-color: white; }
.head_nav a{ font-size: 1.2em; color: #000; font-family: 'NPSfontBold';}
.head_nav a:hover{ color: #FF7A00; font-weight: bold;}
.top_logo { width: 100%; line-height: 100px; min-width: 100px; max-width: 220px;}

/* search form 설정 */
.seach_bar{ border: 3px solid #FF7A00; border-radius: 30px; background-color: white; padding: 5px; margin: 0px 20px; width: 33%;}
.form-control:focus { border-color: initial; box-shadow: none; }
#btn_more:hover { border: 3px solid #FF7A00; box-shadow: none; }
.seach_bar input::placeholder{ font-family: 'NPSfontRegular'; text-align: center;}
.seach_bar input{ border: 0px solid white; width: 100%; height: 25px; }
.seach_bar button{ border: 0px solid white; background-color: white; border-radius: 50px;}
.seach_bar i { color: #FF7A00; margin-right: 5px;}

/* banner 설정 */
#banner { height: 240px; background-color: #FFA24D }
#banner * { font-family: "NPSfontRegular";  color: white; }
#banner h4 { font-size: 1.5em; }
#banner h2 { font-family: "NPSfontExtraBold"; font-size: 3em; }
#banner_contents { padding: 30px 200px; }
#banner #page_icon { float: right; height: 170px; }

/* login 설정 */
.login { width: 500px; border-bottom: 2px solid gray; margin: 0 auto; margin-top: 5%; padding-bottom: 30px; }
.loginFrm { display: flex; justify-content: center; }
.loginInput input:last-child { margin-top: 3%; }
.loginInput input { width: 280px; height: 54px; font-family: NPSfontRegular; font-size: 1em; border: none; border-radius: 32px; background-color: #EDEDED; padding-left: 20px; }
.loginInput input::placeholder { font-size: 0.8em; font-family: NPSfontRegular; }
.loginInput input:focus { outline: none; }
.submitFrm { margin-left: 20px; }
.submitFrm input { width: 160px; height: 116px; border: none; border-radius: 32px; background-color: #FF7A00; color: white; font-family: NPSfontExtraBold; font-size: 1.5em; }
/* .loginBottomLine { margin-top: 2%; width:500px; border: solid 1px gray;  } */
.login_sub { width: 500px; margin: 0 auto; }
.login_sub_list { display: flex; justify-content: space-between; margin-top: 5%; font-size: 0.9em; }
.login_sub_list a:hover { color: gray; }

/* AD 설정 */
.loginAD { width: 500px; margin: 0 auto; margin-top: 5%; padding-left: 2%; }
.loginAD a { margin-bottom: 2%; display: block; /* margin이 위쪽이 아닌 아래쪽에 영향을 미치도록 함 */ }
.kaPay_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FFEB3B; border-radius: 32px; width: 458px; height: 79px; }
.kaPay_Icon i img { width: 30px; height: 30px; }
.kaPay_title { font-size: 1em; font-family: NPSfontBold; color: black; }
.kaPay_title span { font-size: 1.5em; color: #834700; font-family: NPSfontExtraBold; }

.plan_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #F9E6D8; border-radius: 32px; width: 458px; height: 79px; }
.plan_btn button { font-family: NPSfontRegular; font-size: 1em; color: white; background-color: #FF7A00; border-radius: 10px; border: none; width: 132px; height: 49px; }
.plan_title { font-size: 1em; font-family: NPSfontBold; color: black; }
.plan_title span { font-size: 1.5em; color: #FF7A00; font-family: NPSfontExtraBold; }

.market_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FAE1C8; border-radius: 32px; width: 458px; height: 79px; }
.market_btn button { font-family: NPSfontRegular; font-size: 1em; color: white; background-color: #D8B591; border-radius: 10px; border: none; width: 132px; height: 49px; }
.market_title { font-size: 1em; font-family: NPSfontBold; color: black; }
.market_title span { font-size: 1.5em; color: #FF7A00; font-family: NPSfontExtraBold; }

/* footer 설정 */
footer { border-top:3px solid #FF7A00; background-color: white;padding-top: 0; }
#footer-nav li { margin: 0 45px; }
#footer-nav li a { font-size: 0.75em; }
.foot_nav { font-size: 0.75em; text-align: center; }
.foot_nav li { padding: 0 30px; }
.foot_logo { max-width: 320px;text-align: center; }
.foot_logo img{ width: 60%; }
.foot_info_box { background-color: white;}
.foot_info p { font-size: 0.75em; width: 100% }
.foot_icon { padding: 0; }
.foot_icon img { width: 30px; }
.foot_icon li {  margin-right: 10px; }
.foot_icon_text { text-align: right; font-family: 'NPSfontExtraBold'; }
.foot_icon_text span{ color: #FF7A00; }


/* pc environment */
@media screen and (min-width:1201px) {
    #mobile_slider { display: none; }
    #mobile_navbar { display: none; }
    #banner_contents { justify-content: space-between; }
    #sticky_top { position: -webkit-sticky; position: sticky; top: -2px; }
}

/* mobile environment */
/* 화면크기 최대 1200px까지 */
@media screen and (max-width:1200px) {
    #logo {
        width: 100%; /* 로고 너비를 100%로 설정하여 가로 중앙에 배치 */
        text-align: center;
        height: 50px;
        position: relative;
        top: -30px;
    }
    #logo a img { width: 20%; margin-left: 20px; } /* 로고 위치 조정 */
    .seach_bar{ width: 100%; margin: 0 5px; }
    #mobile_navbar ul li { margin: 0 auto; }
    header { display: none; } /* header는 안보이게 처리 */
    #pc_navbar { display: none; }
    .main_nav{ border-bottom: none; background-color: white; }
    #mobile_navbar { border-bottom: 3px solid #FF7A00; padding: 10px; }

    #banner { height: 160px; }
    #banner #page_icon { display: none; }
    #banner_contents { justify-content: center; padding: 30px; height: 160px; }
    #banner_contents #info_title { justify-content: center; }
    #banner h4 { font-size: 1em; }
    #banner h2 { font-size: 1.5em; }
    
    
    /* o */
    /* login */
    .login { width: 350px; margin-top: 10%; }
    .loginInput input { width: 200px; }
    .submitFrm input { width: 130px; font-size: 1.2em; }
    .login_sub { width: 350px; }
    .login_sub_list { display: flex; justify-content: space-between; margin-top: 5%; font-size: 0.75em; }

    /* AD */
    .loginAD { width: 350px; margin-top: 10%; padding-left: 0; }
    .loginAD a { margin-bottom: 3%; display: block; /* margin이 위쪽이 아닌 아래쪽에 영향을 미치도록 함 */ }
    .kaPay_ad { padding-left: 40px; padding-right: 70px; display: flex; justify-content: space-between; align-items: center; background-color: #FFEB3B; border-radius: 32px; width: 350px; height: 45px; }
    .kaPay_Icon i img { width: 30px; height: 30px; }
    .kaPay_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .kaPay_title span { font-size: 1.3em; color: #834700; font-family: NPSfontExtraBold; }

    .plan_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #F9E6D8; border-radius: 32px; width: 350px; height: 45px; }
    .plan_btn button { font-size: 0.75em; color: white; background-color: #FF7A00; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .plan_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .plan_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }

    .market_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FAE1C8; border-radius: 32px; width: 350px; height: 45px; }
    .market_btn button { font-family: NPSfontRegular; font-size: 0.75em; color: white; background-color: #D8B591; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .market_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .market_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }
}

/* 화면크기 최대 768px까지 */
@media screen and (max-width:768px) {
    .foot_logo { display: none;}
    #mobile_navbar { font-size: 0.65em; }
    #img_footer_logo{ display: none; }
    #img_footer_icon{ display: none; }
    .seach_bar input::placeholder{ font-size: 0.8em; }

    /* o */
    /* login */
    .login { width: 350px; margin-top: 10%; }
    .loginInput input { width: 200px; }
    .submitFrm input { width: 130px; font-size: 1.2em; }
    .login_sub { width: 350px; }
    .login_sub_list { display: flex; justify-content: space-between; margin-top: 5%; font-size: 0.75em; }

    /* AD */
    .loginAD { width: 350px; margin-top: 10%; padding-left: 0; }
    .loginAD a { margin-bottom: 3%; display: block; /* margin이 위쪽이 아닌 아래쪽에 영향을 미치도록 함 */ }
    .kaPay_ad { padding-left: 40px; padding-right: 70px; display: flex; justify-content: space-between; align-items: center; background-color: #FFEB3B; border-radius: 32px; width: 350px; height: 45px; }
    .kaPay_Icon i img { width: 30px; height: 30px; }
    .kaPay_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .kaPay_title span { font-size: 1.3em; color: #834700; font-family: NPSfontExtraBold; }

    .plan_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #F9E6D8; border-radius: 32px; width: 350px; height: 45px; }
    .plan_btn button { font-size: 0.75em; color: white; background-color: #FF7A00; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .plan_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .plan_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }

    .market_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FAE1C8; border-radius: 32px; width: 350px; height: 45px; }
    .market_btn button { font-family: NPSfontRegular; font-size: 0.75em; color: white; background-color: #D8B591; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .market_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .market_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }
}

/* 화면크기 최소641px 부터 1120px까지 */
@media screen and (min-width: 641px) and (max-width:1120px) {
    .container-fluid { line-height:25px;}
    #footer-nav li { margin: 0 20px; }
    .foot_logo{ display: none;}
    #row_footer{ width: 100%;text-align: center;}
    #img_footer_icon{ display: none;}
    
    /* x */
}

/* 화면크기 최소 481px 부터 최대 660px까지 */
@media screen and (min-width: 481px) and (max-width: 660px) {
    .foot_logo{ display: none; }
    #footer-nav li { margin: 0 10px; }
    .container-fluid { line-height: 1.3; }
    #row_footer{ text-align: center;}
    #img_footer_icon{  display: none;}

    /* x */
}

@media screen and (max-width:480px) {
    .foot_logo{ display: none; }
    /* #footer-nav li a { font-size: 0.5em; } */
    #footer-nav li { margin: 0 5px; }
    .container-fluid { line-height: 1.3; }
    #row_footer{ text-align: center;}
    #img_footer_icon{  display: none;}

    /* o */
    /* login */
    .login { width: 350px; margin-top: 10%; }
    .loginInput input { width: 200px; }
    .submitFrm input { width: 130px; font-size: 1.2em; }
    .login_sub { width: 350px; }
    .login_sub_list { display: flex; justify-content: space-between; margin-top: 5%; font-size: 0.75em; }

    /* AD */
    .loginAD { width: 350px; margin-top: 10%; padding-left: 0; }
    .loginAD a { margin-bottom: 3%; display: block; /* margin이 위쪽이 아닌 아래쪽에 영향을 미치도록 함 */ }
    .kaPay_ad { padding-left: 40px; padding-right: 70px; display: flex; justify-content: space-between; align-items: center; background-color: #FFEB3B; border-radius: 32px; width: 350px; height: 45px; }
    .kaPay_Icon i img { width: 30px; height: 30px; }
    .kaPay_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .kaPay_title span { font-size: 1.3em; color: #834700; font-family: NPSfontExtraBold; }

    .plan_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #F9E6D8; border-radius: 32px; width: 350px; height: 45px; }
    .plan_btn button { font-size: 0.75em; color: white; background-color: #FF7A00; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .plan_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .plan_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }

    .market_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FAE1C8; border-radius: 32px; width: 350px; height: 45px; }
    .market_btn button { font-family: NPSfontRegular; font-size: 0.75em; color: white; background-color: #D8B591; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .market_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .market_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }
}

/* main content */
@media screen and (max-width: 1200px) {
    .banner { margin: 0; width: 100%; }
    .banner_title { padding: 30px 0; }
    .first_title, .second_title { 
        margin-left: 0; /* 왼쪽 여백 제거 */
        padding: 20px; /* 내부 여백 추가 */
        text-align: center; /* 가운데 정렬 */
    }
    
    /* o */
    /* login */
    .login { width: 350px; margin-top: 10%; }
    .loginInput input { width: 200px; }
    .submitFrm input { width: 130px; font-size: 1.2em; }
    .login_sub { width: 350px; }
    .login_sub_list { display: flex; justify-content: space-between; margin-top: 5%; font-size: 0.75em; }

    /* AD */
    .loginAD { width: 350px; margin-top: 10%; padding-left: 0; }
    .loginAD a { margin-bottom: 3%; display: block; /* margin이 위쪽이 아닌 아래쪽에 영향을 미치도록 함 */ }
    .kaPay_ad { padding-left: 40px; padding-right: 70px; display: flex; justify-content: space-between; align-items: center; background-color: #FFEB3B; border-radius: 32px; width: 350px; height: 45px; }
    .kaPay_Icon i img { width: 30px; height: 30px; }
    .kaPay_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .kaPay_title span { font-size: 1.3em; color: #834700; font-family: NPSfontExtraBold; }

    .plan_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #F9E6D8; border-radius: 32px; width: 350px; height: 45px; }
    .plan_btn button { font-size: 0.75em; color: white; background-color: #FF7A00; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .plan_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .plan_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }

    .market_ad { padding-left: 40px; padding-right: 40px; display: flex; justify-content: space-between; align-items: center; background-color: #FAE1C8; border-radius: 32px; width: 350px; height: 45px; }
    .market_btn button { font-family: NPSfontRegular; font-size: 0.75em; color: white; background-color: #D8B591; border-radius: 10px; border: none; width: 90px; height: 30px; }
    .market_title { font-size: 0.75em; font-family: NPSfontBold; color: black; }
    .market_title span { font-size: 1.3em; color: #FF7A00; font-family: NPSfontExtraBold; }
}

@media screen and (min-width: 641px) and (max-width: 1120px) {
    .img_banner { display: none; }
    .first_title { margin: 0 auto; text-align: center; }
    .second_title { margin: 0 auto; text-align: center; }

    /* x */
}

@media screen and (min-width: 481px) and (max-width: 660px){
    .container-fluid { line-height: 1.3; }
    .img_banner{display: none;}
    .first_title{margin: 0 auto; text-align: center;}
    .second_title{margin: 0 auto; text-align: center; padding: 3px;}
    
    /* x */
}
